#addNewScore {
  display: flex;
  flex-direction: column;
  width: 30%;

  h2 {
    font-size: 33px;
    color: #f7ae11;
    margin-bottom: 45px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      font-size: 22px;
      padding: 15px;
    }

    input:hover {
      background-color: rgb(196, 193, 183);
    }

    input:hover::placeholder {
      color: rgb(59, 59, 59);
    }

    button {
      font-size: 20px;
      border-radius: 5px;
      height: 50px;
      width: 150px;
      align-self: center;
    }

    button:hover {
      color: #fff;
      background-color: #0d776c;
    }
  }
}

@media screen and (max-width: 768px) {
  #addNewScore {
    align-items: center;
    width: 100%;

    h2 {
      font-size: 25px;
      margin-bottom: 18px;
    }

    form {
      gap: 15px;

      input {
        font-size: 18px;
        padding: 12px;
      }

      button {
        font-size: 18px;
        height: 45px;
        width: 125px;
      }
    }
  }
}