#recentScores {
  width: 40%;
  margin-left: 5%;

  div {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;

    h2 {
      font-size: 33px;
      color: #f7ae11;
    }

    button {
      font-size: 18px;
      height: 50px;
      width: 120px;
      border-radius: 5px;
      align-self: center;
    }

    button:hover {
      color: #fff;
      background-color: #0d776c;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    border: rgb(14, 13, 13) 8px solid;
    border-radius: 5px;
    padding: 0;
    list-style: none;
    background-color: rgb(14, 13, 13);

    :nth-child(even) {
      background-color: #e9ab24;
      color: rgb(20, 20, 20);
    }

    li {
      background-color: #0d776c;
      font-size: 33px;
      color: rgb(235, 235, 235);
      padding: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  #recentScores {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;

    div {
      h2 {
        font-size: 25px;
      }
      
      button {
        height: 40px;
        width: 100px;
      }
    }

    ul {

      li {
        font-size: 22px;
      }
    }
  }
}