@import "./partials/recentScores";
@import "./partials/addNewScore";

body {
  overflow: auto;
  overflow-x: hidden;
  background-color: #211f20;
  margin: 0;

  * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h1 {
    margin-left: 15%;
    color: #f7ae11;
    font-size: 60px;
  }
}

main {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 100vw;
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 40px;
      align-self: center;
      margin: 0;
      margin-top: 22px;
    }
  }

  main {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}