@import "./partials/recentScores";
@import "./partials/addNewScore";

body {
  overflow: auto;
  overflow-x: hidden;
  background-color: #211f20;

  * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h1 {
    margin-left: 15%;
    color: #f7ae11;
    font-size: 60px;
  }
}

main {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 100vw;
}
